h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
}

/* Контейнер для кнопок и таблицы */
.content-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Колонка кнопок */
.btn-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Прокручиваемая таблица */
.scrollable-table-container {
    max-height: 300px; /* Максимальная высота таблицы */
    overflow-y: auto; /* Прокрутка по вертикали */
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: none;
}

.playlist-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/* Прозрачная таблица */
.playlist-table thead {
    background-color: none; /* Полупрозрачный фон для заголовка */
    position: sticky;
    top: 0;
}

.playlist-table th, .playlist-table td {
    background-color: none; /* Полупрозрачный фон для ячеек */
    padding: 10px;
    border: 1px solid #fff; /* Полупрозрачная граница */
}

.playlist-table tr:nth-child(even) {
    background-color: none; /* Полупрозрачный серый фон для чётных строк */
}

.playlist-table tr:nth-child(odd) {
    background-color: none; /* Полупрозрачный серый фон для нечётных строк */
}

.playlist-table tr:hover {
    background-color: none; /* Полупрозрачный фон для строки при наведении */
    color: #ffffff;
}

/* Оформление сообщений */
.messages {
    margin-bottom: 20px;
}

.messages .alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #4f0334;
    color: #ffffff;
}