{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/music_lotto_detail.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h1>{{ music_lotto.name }}</h1>
    <p><strong>Created:</strong> {{ music_lotto.created_at|date:"d M Y H:i" }}</p>
    <p><strong>Last Edited:</strong> {{ music_lotto.edited_at|date:"d M Y H:i" }}</p>
    <p><strong>Status:</strong> {{ music_lotto.is_active|yesno:"Active,Inactive" }}</p>

    <div class="content-container">
        <!-- Блок кнопок -->
        <div class="btn-column">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="generate" class="btn btn-primary">Сгенерировать</button>
            </form>

            <form method="POST">
                {% csrf_token %}
                <label for="ticket_count">Количество билетов:</label>
                <input type="number" name="ticket_count" id="ticket_count" value="{{ default_ticket_count }}" min="1" required>
                <button type="submit" name="create_tickets" class="btn btn-primary">Создать билеты</button>
            </form>

            {% if tickets_pdf_exists %}
            <a href="{{ tickets_pdf_url }}" class="btn btn-primary" download>Скачать билеты</a>
            {% else %}
                <button class="btn btn-primary" disabled>Билеты не найдены</button>
            {% endif %}
            <form action="{% url 'music_lotto_list' %}" method="get" class="action-form">
                <button type="submit" class="btn btn-secondary">Back to List</button>
            </form>
        </div>

        <!-- Прокручиваемая таблица -->
        <div class="scrollable-table-container">
            <table class="playlist-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Track Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in music_lotto.playlist_files.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ file.file.name }}</td>
                        <td>
                            <a href="{{ file.file.url }}" download>Download</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No playlist files uploaded.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
